*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed, 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__label {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__fieldset:last-of-type {
  margin-bottom: 5px;
}

.checkbox-label:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;      
  outline-offset: 2px;    
}

.search-form__label:active:has(:focus-visible) {
  outline: none;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.search-form__textfield {
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield {
  width: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding-top: 3px;
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  background-color: #1B1919;
  border: 1px solid #fff;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.content__details {
  min-height: 534px;
  min-width: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  position: relative;
  max-width: 399px;
  max-height: 298px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list::-webkit-scrollbar {
  width: 4px; 
  background-color: transparent;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  opacity: 0.2;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: auto 4px;
  display: block;
  margin: auto 4px;
}

.title {
  position: relative;
  padding-top: 3px;
  color: #fff;
  font-family: Oswald, 'Arial Bold', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__list-item:last-of-type {
  padding-bottom: 0;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {    
  width: 394px;
  padding: 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 10%;
  text-decoration-thickness: 6%;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, 'Arial Bold', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  max-width: 100%;
  height: 100%;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed, 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; 
}

.button {
  cursor: pointer;
  width: 100%;
  height: 34px;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed, 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #fff;
}

button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

button:active {
  background-color: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
